<h3>Basic Character Info</h3>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.name" class="form-control" id="name" placeholder="Name of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="race" class="col-sm-2 control-label">Race</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.race" class="form-control" id="race" placeholder="Character Race (Ysoki, Vesk, Human, etc)"/>
    </div>
</div>
<div class="form-group">
    <label for="characterClassType" class="col-sm-2 control-label">Class Type</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.characterClassType" class="form-control" id="characterClassType" placeholder="Class Type of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="level" class="col-sm-2 control-label">Level</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.level" class="form-control" id="level" placeholder="Level of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="deity" class="col-sm-2 control-label">Deity</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.deity" class="form-control" id="deity" placeholder="Who do you pray to?"/>
    </div>
</div>
<div class="form-group">
    <label for="gender" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.gender" class="form-control" id="gender" placeholder="Gender of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="homeWorld" class="col-sm-2 control-label">Home World</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.homeWorld" class="form-control" id="homeWorld" placeholder="What planet / city did you grow up on / in?"/>
    </div>
</div>
<div class="form-group">
    <label for="alignment" class="col-sm-2 control-label">Alignment</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.alignment" class="form-control" id="alignment" placeholder="Neutral, Good, Evil? Chaotic, Lawful?"/>
    </div>
</div>
<div class="form-group">
    <label for="size" class="col-sm-2 control-label">Size (S, M, L)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.size" class="form-control" id="size" placeholder="How big is your character?"/>
    </div>
</div>
<div class="form-group">
    <label for="speed" class="col-sm-2 control-label">Speed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.speed" class="form-control" id="speed" placeholder="How fast is your character?"/>
    </div>
</div>
<div class="form-group">
    <label for="theme" class="col-sm-2 control-label">Theme</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.theme" class="form-control" id="theme" placeholder="What is your character theme? (Ace Pilot, Scholar, etc)"/>
    </div>
</div>
<div class="form-group">
    <label for="notes" class="col-sm-2 control-label">Notes</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.notes" class="form-control" id="notes" placeholder="Additional Information About Character (Weapons, Feats, etc)"/>
    </div>
</div>

<h3>Ability Scores</h3>
<div class="form-group">
    <label for="strength" class="col-sm-2 control-label">Strength</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.strength" class="form-control" id="strength" placeholder="Strength of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="dexterity" class="col-sm-2 control-label">Dexterity</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.dexterity" class="form-control" id="dexterity" placeholder="Dexterity of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="constitution" class="col-sm-2 control-label">Constitution</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.constitution" class="form-control" id="constitution" placeholder="Constitution of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="intelligence" class="col-sm-2 control-label">Intelligence</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.intelligence" class="form-control" id="intelligence" placeholder="Intelligence of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="wisdom" class="col-sm-2 control-label">Wisdom</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.wisdom" class="form-control" id="wisdom" placeholder="Wisdom of Character"/>
    </div>
</div>
<div class="form-group">
    <label for="charisma" class="col-sm-2 control-label">Charisma</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.charisma" class="form-control" id="charisma" placeholder="Charisma of Character"/>
    </div>
</div>

<h3>Skill Ranks</h3>
<div class="form-group">
    <label for="acrobatics" class="col-sm-2 control-label">Acrobatics</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.acrobatics" class="form-control" id="acrobatics" placeholder="Acrobatics"/>
    </div>
</div>
<div class="form-group">
    <label for="athletics" class="col-sm-2 control-label">Athletics</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.athletics" class="form-control" id="athletics" placeholder="Athletics"/>
    </div>
</div>
<div class="form-group">
    <label for="bluff" class="col-sm-2 control-label">Bluff</label>
    <div class="col-sm-10">
        <input type="text" ng-model="character.bluff" class="form-control" id="bluff" placeholder="Bluff"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
